body {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}