body {
	padding-top: 30px;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

#username {
	color: #777;
	display: block;
	line-height: 20px;
	padding: 15px 15px;
	position: relative;
}

.demoiselle {
	text-align: center;
}

.navbar-brand {
	font-size: 22pt;
}