<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

 	<!-- If you are using tomcat6/tomcat7/gae then uncomment this listener -->
 	<!--
	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>
 	-->

 	<!-- If you are using servlet 2.5 then uncomment this listener -->
 	<!--
	<listener>
		<listener-class>br.gov.frameworkdemoiselle.util.ServletListener</listener-class>
	</listener>
	<filter>
		<filter-name>Demoiselle Servlet Filter</filter-name>
		<filter-class>br.gov.frameworkdemoiselle.util.ServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Demoiselle Servlet Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 	-->

	<filter>
		<filter-name>Cache Filter</filter-name>
		<filter-class>br.gov.frameworkdemoiselle.util.CacheFilter</filter-class>
		<init-param>
			<param-name>value</param-name>
			<param-value>max-age=9223372036854775807</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Cache Filter</filter-name>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.html?*</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.svg</url-pattern>
		<url-pattern>*.ttf</url-pattern>
		<url-pattern>*.woff</url-pattern>
		<url-pattern>/api/metadata/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>GZip Filter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.gzip.GzipFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GZip Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
